@mixin  clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerH {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600 px - PHONE
600-900 px - PORTRAIT TABLET
900-1200 px - LANDSCAPE TABLET
1200-1800 - normal 
1800+ : BIG SCREENS

$breakpoint argument choices
-phone
-tab-port
-tab-land
-big desktop

ORDER : BASE - TYPOGRAPHY > general layout grid > page layout > components

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { // 600 px
            @content
        }
    };

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { // 900px
            @content
        }
    };
    
    @if $breakpoint == tab-land {    // 1200px
        @media (max-width: 75em) {
            @content 
        }
    };

    @if $breakpoint == small_desktop {  // 1320px
        @media (max-width: 82.5em) {
            @content
        }
    };

    @if $breakpoint == big-desktop {  // 1800px
        @media (min-width: 112.5em) {
            @content
        }
    };

    
}